<div>
    <div class="FrontImageContainer" style="animation-delay:1s;">
        <div class="overlay fadeInLeft"></div>
        <div class="ImageTitle animated fadeInRight">
            <p style="display: block;">About Us</p>
        </div>
        <img class="FrontImage " src="../../assets/Images/AboutUsImages/Fabric.jpg" />

    </div>
    <div class="AboutCompanyContainer col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <div class="animated zoomInDown" style="animation-delay: .7s;">
            <div class="row">

                <div class="col-xs-12 col-lg-2 col-sm-4 col-md-4 col-md-4 ">
                    <a routerLink='/home'>
                        <img class="img-responsive CompanyImage" src="../../assets/dglogo.jpg" />
                    </a>
                </div>
                <!--company detail container -->
                <div class="col-xs-12 col-lg-10 col-sm-8 col-md-8 col-md-8 ">
                    <h2 class="CompanyNameHeading">
                        d<span style="color:red;">g</span> knitting pvt. ltd.
                    </h2>
                    <ul class="CompanyDetailList">
                        <li>
                            Established in 1986 as a private limited company, DG Knitting began with Weaving and
                            steadily
                            expanded into Knitting & Twisting.
                        </li>
                        <li>
                            In more than two decades, DG Knitting has grown to become a diversified manufacturer of
                            world-class polyester yarns, knitted & suiting fabrics.
                        </li>
                        <li>
                            Weaving Unit with High speed rapier Looms is situated at Ichalkaranji and Knitting Unit is
                            situated at Silvassa.
                        </li>
                    </ul>
                </div>

            </div>
            <hr class="line" />
        </div>
        <div class="animated zoomInDown" style="animation-delay: .5s;">
            <div class="row">
                <div class="col-xs-12 col-lg-2 col-sm-4 col-md-4 col-md-4">
                    <a routerLink='/dg-polyester'>
                        <img class="CompanyImage" src="../../assets/dglogo.jpg" />
                    </a>

                </div>
                <div class=" col-xs-12 col-lg-10 col-sm-8 col-md-8 col-md-8">
                    <h2 class="CompanyNameHeading">
                        dg polyester pvt. ltd.
                    </h2>
                    <ul class="CompanyDetailList">
                        <li>
                            Established in 1996 as a private limited company, DG began with texturising of yarn and
                            steadily expanded into Knitting. Since then we have continued to increase the scale of our
                            operations and the range of our activities.
                        </li>
                        <li>
                            DG polyester has grown to become a diversified manufacturer of world-class polyester
                            yarns
                            selling directly to manufacturers, exporters, importers, retailers and brands across India.
                        </li>

                    </ul>
                </div>

            </div>
            <hr class="line" />
        </div>
      
    </div>
</div>