<div>
    <div class="FrontImageContainer" style="animation-delay:1s;">
        <div class="overlay fadeInLeft"></div>
        <div class="ImageTitle animated fadeInRight">
            <p style="display: block;text-transform: capitalize">warp knitting fabrics</p>
        </div>
        <img class="FrontImage " src="../../assets/Images/AboutUsImages/Fabric.jpg" />

    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <!--CompanyNameHeader from about us component-->
        <div>
            <h2 class="CompanyNameHeading">
                d<span style="color:red;">g
                </span> warp knitting fabrics
            </h2>
        </div>
        <div class="FabricDescription">
            <p>
                We specialize on production of warp-knitted terry fabrics with natural and synthetic threads with
                capacity over 180 tons per month.
                Our fabrics are perfect for soft, water absorbent and voluminous towels, bathrobes, home and children
                clothes.
            </p>
            <p>
                Warp knitting technology allows to produce terry fabric with face side polyester terry which is suitable
                for sublimation printing, back side cotton or bamboo terry .
                Our main aim is sustainability in growth, creation of new products, provisioning perfect service and
                achieving high customers satisfaction. We love to be challenged as it gives new incentives to develop
                ourselves.
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <div>
            <h3 class="SubTitle">
                Types of warp knitting&nbsp;:-
            </h3>
        </div>

    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" >
        <div class="row"> 
            <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 ListContainer">
            <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#home">Triaco Knit</a></li>
                    <li><a data-toggle="tab" href="#menu1">Raschel Knit</a></li>
                    <li><a data-toggle="tab" href="#menu2">Crochet Knit</a></li>
                    <li><a data-toggle="tab" href="#menu3">Milanese Knit</a></li>
                  </ul>
            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8" style="padding-bottom: 3vw;">
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                      <div class="row">
                          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                <img class="img-responsive CompanyImage" src="../../assets/Images/warp-knittting-fabrics/fabric-types/tricot-knit.jpg" />
                          </div>
                          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                <div class="FabricDescription">
                                    <p>
                                            Tricot fabric is soft, wrinkle resistant & has good drapability.
                                            Tricot knits are used for a wide verity of fabric weights & design. 
                                            It makes light fabric weighting less than 4 ounce/square yard. 
                                            Some examples of tricot fabric are sleepwear, boluses, dresses etc.
                                    </p>
                                </div>
                            </div>
                            
                      </div>
                        
                    </div>
                    <div id="menu1" class="tab-pane fade">
                            <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                          <img class="img-responsive CompanyImage" src="../../assets/Images/warp-knittting-fabrics/fabric-types/raschel.jpg" />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                          <div class="FabricDescription">
                                              <p>
                                                    The Raschel knit ranks in importance of production with tricot 
                                                    but it makes varieties of products ranging from laces, power nets for foundation 
                                                    garments, swimwear to carpets. Raschel knitting is done with heavy yarns & 
                                                    usually has a complex lace-like pattern.
                                              </p>
                                          </div>
                                      </div>
                                      
                                </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                            <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                          <img class="img-responsive CompanyImage" src="../../assets/Images/warp-knittting-fabrics/fabric-types/crochet.jpg" />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                          <div class="FabricDescription">
                                              <p>
                                                    This basic stitch is used in hand crochet. This construction is used in 
                                                    a wide variety of fabrics ranging from nets & laces to bed spreads & carpets, 
                                                    various types of edgings or trimmings lace are also produced.
                                              </p>
                                          </div>
                                      </div>
                                      
                                </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                            <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                          <img class="img-responsive CompanyImage" src="../../assets/Images/warp-knittting-fabrics/fabric-types/milanese.jpg" />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                          <div class="FabricDescription">
                                              <p>
                                                    The milanese stitch produces a fabric very similar to tricot. 
It can be identified by the fine rib on the face & a diagonal pattern on the back. 
However, milanese fabric is superior to tricot in smoothness, elasticity, 
regularity of structure & friction resistance.
                                              </p>
                                          </div>
                                      </div>
                                      
                                </div>
                    </div>
                  </div>
                  </div> 
                  </div>
                </div>
</div>