<div class="PrakashPolyesterContainer">
        <div class="FrontImageContainer" style="animation-delay:1s;">
                <div class="overlay fadeInLeft"></div>
                <div class="ImageTitle animated fadeInRight">
                    <p style="display: block;text-transform: capitalize">dg polyester</p>
                </div>
                <img class="FrontImage " src="../../assets/Images/AboutUsImages/Fabric.jpg" />
        
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="animation-delay: .3s;">
                    <!--CompanyNameHeader from about us component-->
                    <div>
                        <h2 class="CompanyNameHeading animated fadeInLeft">
                            D<span style="color:red;">G</span> polyester pvt. ltd.
                        </h2>
                    </div>
                    <div class="FabricDescription animated fadeInRight">
                        <p>
                                An in house texturising capacity of  3,000 tons of polyester filament yarn per annum at Silvassa, and a wide range of
                                texturised yarns  from 30 denier to 150 denier in intermingled, non-intermingled and micros has enabled Prakash Polyester
                                to establish a firm reputation in the domestic and export markets for quality and variety.
                        </p>
                        
                    </div>
                </div>     
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="animation-delay: .5s;">
                        <div>
                            <h3 class="SubTitle animated fadeInLeft">
                                    We have specialised in following products&nbsp;:-
                            </h3>
                        </div>
                
                    </div>
               <div ></div>     
<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="padding-bottom: 2vw;">

        <div class="list-group animated fadeInRight"  style="animation-delay: .5s;">
          <a  href="../../assets/Images/polyester-images/fabric-images/30 denier black intermingled.jpg" class="list-group-item">
              
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            30 denier black intermingled                     
        </span>    
        </a>
          <a href="../../assets/Images/polyester-images/fabric-images/50 denier white intermingled.jpg" class="list-group-item">
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            50 denier white intermingled
            </span>
        </a>
          <a href="../../assets/Images/polyester-images/fabric-images/80 roto.jpg" class="list-group-item">
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            80 roto
            </span>
        </a>
          <a href="../../assets/Images/polyester-images/fabric-images/80 warp.jpg" class= "list-group-item" >
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            80 warp
       </span>
        </a>
        <a href="../../assets/Images/polyester-images/fabric-images/30 denier white intermingled.jpg" class="list-group-item">
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            30 denier white intermingled
            </span>
        </a>
        <a href="../../assets/Images/polyester-images/fabric-images/80 denier black intermingled.jpg" class="list-group-item" >
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            80 denier black intermingled
            </span>
        </a>
        <a href="../../assets/Images/polyester-images/fabric-images/80 tex.jpg" class="list-group-item" >
            <span   data-toggle="tooltip" data-placement="right"  title="Click To See Sample">
            80 tex
            </span>
        </a>
    </div>
      </div>
      
</div>
