.FrontImageContainer{
    width:100%;
    height:30vw;
    margin-top:-20px;
    position:relative;
}
.ImageTitle{
    position: absolute;
    left:0px;
    text-align: center;
    width:40vw;
    color:white;

    background-color: rgba(210, 105, 30, 0.822);
    bottom:4vw;
    
}
.FrontImage{
    
    width:100%;
    height: 100%;
}

.overlay{
    position: absolute;
    width:100%;
    
    background-color: #080d15;
    opacity : .7;   
    height:100%;

}
.CompanyNameHeading{
    text-transform: uppercase;
    font-weight: bold;
    color :rgba(13, 7, 39, 0.932);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.SubTitle{
    font-style: italic;
    text-transform: capitalize;

}

@media screen and (min-width : 1361px) {
    .ImageTitle{
        font-size : 3vw;
        height:4.5vw;
    }
    
    
}
@media screen and (min-width : 1024px) and (max-width : 1360px){
    .ImageTitle{
        font-size : 3vw;
        height:4.5vw;
    }
    
 
  
    
}
@media screen and (min-width : 768px) and (max-width : 1024px){
    .ImageTitle{
        font-size : 3vw;
        height:4.5vw;
    }
    
    .CompanyNameHeading{
        font-size:3.0vw;
    }
    
    .SubTitle{
        font-size: 2vw;
    }
  
  
    
}
@media screen and (min-width : 321px) and (max-width : 767px){
    .ImageTitle{
        font-size : 3.5vw;
        height:5vw;
        
    }
    
    .CompanyNameHeading{
        font-size:4vw;
    }
    .SubTitle{
        font-size: 3vw;
    }
  
    
    
}
@media  screen and (min-width : 0px) and (max-width : 320px){
    .ImageTitle{
        font-size : 3.5vw;
        height:5vw;
    }
    
    .CompanyNameHeading{
        font-size:3vw;
    }
    
    .SubTitle{
        font-size: 2vw;
    }
  
    .FabricTable td,th{
        font-size: 2vh;
    }
   
}
.FabricDescription{
    text-align: justify;
    hyphens: auto;
    margin : 0 auto;
    color:black;
}
.FabricTable th{
    text-align: center;
    color :white;
    background-color: rgba(13, 7, 39, 0.932);
    
}
.FabricTableDescription{
    text-transform: uppercase;
    color:rgba(13, 7, 39, 0.932);
    font-weight : bold;
    text-align: center;
    width:20%;

}
.FabricTable{
    border : 3px solid rgba(13, 7, 39, 0.932); 

    background-color: rgb(219, 218, 218);

}
.FabricTable tr,th,td{
    border : 3px solid rgba(13, 7, 39, 0.932); 


}

.CompanyImage{
    display:block;
  
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    margin: auto;
    max-width : 100%;
    max-height:auto;
    
}
.FaberciTableContainer{

   display: block;


    
   padding-top:2.75vh;
   padding-bottom:2.75vh;

   
}
.FabricContainer{
    height: 15vh;
}
.FabricDetail{
    text-align: justify;
    hyphens: auto;
}