#myCarousel:hover{
    cursor: pointer;
}
.overlay{
    position: absolute;
    width:100%;
    
    background-color: #080d15;
    opacity : .7;   
    height:100%;

}
.cusotm-crousel{
    position: relative;
}
.SlideShowContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
   

}
.SlideShowContainer .crousel-inner .item{
    height: 100vw;
}
.carousel-caption h2{
    letter-spacing: 1px;


}
.item{
    animation-delay: 1s;
}

@media screen and (min-width : 1361px) {
    .carousel-caption{
        padding-bottom : 10vw;
           
    }
    .carousel-caption h3{
        font-size : 2em; 
    }   
    .carousel-caption h5{
        font-size : 1.7em;
    }
    
    .HomeContainer h2{
        font-size:1.8em;
    }
    .HomeContainer{
        padding-bottom: 0vw;
    }
  
}
@media screen and (min-width : 1501px){
    
    .HomeContainer{
        padding-bottom:3vw;
    }    
}
@media screen and (min-width : 1301px) and (max-width : 1500px){
    .carousel-caption{
        padding-bottom : 9vw;
   
    }
    .HomeContainer{
        padding-bottom: 8vw;
    }
    
    
    .HomeContainer h2{
        font-size:2vw;
    }
    
    .HomeContainer{
        padding-bottom:10vw;
    }
    
}
@media screen and (min-width : 1024px) and (max-width : 1300px){
    .carousel-caption{
        padding-bottom : 8vw;
   
    }

    .carousel-caption h3{
        font-size : 1.5em; 
    }   
    .carousel-caption h5{
        font-size : 1.1em;
    }    
    .HomeContainer h2{
        font-size:1.8vw;
    }
    
    .HomeContainer{
        padding-bottom:10vw;
    }
  
}
@media screen and (min-width : 768px) and (max-width : 1024px){
    .carousel-caption{
        padding-bottom :6.5vw;
    }
    .carousel-caption h3{
        font-size : 1.3em; 
    }   
    .carousel-caption h5{
        font-size : 1em;
    }   
    .HomeContainer h2{
        font-size:3vw;
    }
    
    .HomeContainer{
        padding-bottom: 10vw;
    }
}
@media screen and (min-width : 321px) and (max-width : 767px){
    .carousel-caption{
        padding-bottom :2.5vw;
    }
    .carousel-caption h3{
        font-size : 1em; 
    }   
    .carousel-caption h5{
        font-size : .6em;
    }
    .HomeContainer h2{
        font-size:4vw;
    }
    
    .HomeContainer{
        padding-bottom: 0vw;
    }
}

@media only screen and (min-width : 0px) and (max-width : 320px){
    .carousel-caption{
        padding-bottom : 0vw;
    }
    .carousel-caption h5{
        font-size : .6em;
    } 
    .carousel-caption h3{
        font-size : 1em;
    }    
    .HomeContainer h2{
        font-size:4vw;
    } 
    .HomeContainer{
        padding-bottom: 0vw;
    }
}
.HomeContainer{
    
    width : 100%;
    height: auto;
    position:relative;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.HomeContainer h2{
   font-weight: bolder;     
    color: rgba(0, 0, 0, 0.815);
}
.HomeContainer p{
   
    text-align: justify;
    hyphens: auto;
    margin : 0 auto;
    color:black;
    text-indent: .2vw;

}