<div class="SlideShowContainer" style="position:sticky;">
  <div id="myCarousel" class="carousel  slide custom-carousel" data-ride="carousel" style="margin-top: -20px;">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div class="overlay"></div>
        <img src="../../assets/Images/knitting/dg-2.jpg" class="SlideImage" alt="Los Angeles"
          style="width:100%;  height: 25vw;">
        <div class="carousel-caption">
          <h3 class="animated fadeInUp ">Knitting Fabric</h3>
          <h5 class="animated fadeInDown ">DG Knitting Machinery</h5>
        </div>
      </div>

      <div class="item">
        <div class="overlay"></div>
        <img src="../../assets/Images/knitting/dg-4.jpg" class="SlideImage" alt="Chicago"
          style="width:100%;height: 25vw;">
        <div class="carousel-caption">
          <h3 class="animated fadeInLeft ">Knitting Fabric</h3>
          <h5 class="animated fadeInRight ">DG Knitting Machinery</h5>
        </div>

      </div>

      <div class="item">
        <div class="overlay"></div>
        <img src="../../assets/Images/knitting/dg-6.jpg" class="SlideImage" alt="New york"
          style="width:100%;  height: 25vw;">
        <div class="carousel-caption">
          <h3 class="animated zoomInDown ">Knitting Fabric</h3>
          <h5 class="animated zoomInDown ">DG Knitting Machinery</h5>
        </div>

      </div>

    </div>



    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
<div class="HomeContainer col-xs-12 col-lg-12 col-md-12 col-sm-12 " style="animation-delay: .5s;">
  <h2 style="text-transform: uppercase" class = "animated bounceInDown">welcome to d<span style="color:red;">g</span> knitting pvt. ltd.</h2>
  <div style="padding-right:1vw;">   
  <p class="animated fadeInLeft">DG Knitting is amongst the fastest growing vertically integrated textile companies in India.With a most
    modern Circular Knitting plant with machine from the most reputed machine manufacturers like TERROT,PAILUNG,FUKUHAMA
    etc
    we offer a very comprehensive and high fashion range knitted fabrics in 100% cotton, polyester, viscose, Lycra,
    lurex and their
    blends. From single jersey, interlocks & ribs ,Industrial Fabric i.e backing and compression Fabric,rich fabrics for
    performance wear
    with spandex attachment used in sportswear,ladies innerwear,nightwear etc. are some products which we specialize in.
  </p>
  <br>
  <p class="animated fadeInRight">
    In more than two decades, DG Knitting has grown to become a diversified manufacturer of world-class polyester
    yarns, knitted &
    suiting fabrics selling directly to manufacturers, exporters, importers, retailers and brands the world over.
  </p>
</div>
</div>  